* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex; /* This will help eliminate vertical white space */
    flex-direction: column;
    justify-content: space-between; /* This ensures the content fills the space evenly */
}

.left-side{
    position: relative;
    width: 35vw;
}

.logo-holder{
    padding-top: 50px;
    position: absolute;
    color: black;
    width: 100%;
    top: 30%;
    height: 40vh;
    background-color: rgba(193, 198, 193, 0.5);/* RGBA, A lets us change opacity */
    text-align: center;
    font-family: "BBH Bartle", sans-serif;
}

.left-side .logo-holder img{
    height: auto;
    width: 300px;
    position: relative;
    bottom: 80px;
   
}
.logo-text{
    position: relative;
    top: 140px;
}

.left-side img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.container{
    display: flex;
    flex-direction: row;
}

.right-side{
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(77, 129, 25));
    width: 65vw;
}

.right-header,
.right-footer{
    
    height: 30vh;
}

.right-body{
    background-color: rgba(255, 255, 255, 0.5);/* RGBA, A lets us change opacity */
    height: 40vh;
}



