*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: row;
}

.right-side{
    color: black;
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(44, 137, 44));
    width: 65vw;
}

.right-header{
    border: 1px solid black;
    height: 33.33vh;
}

.right-body{
    border: 1px solid black;
    height: 33.33vh;
}

.right-footer{
    border: 1px solid black;
    height: 33.33vh;
}

img{
    width: 35vw;
    height: 100vh;
}